.project-container {
  border-radius: 1rem;
  border: 1px solid var(--border-color);
  background-color: var(--secondary-bg);
  padding: 20px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photos-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.photos-row {
  display: flex;
  gap: 20px;
  justify-content: center;
  position: relative;
}

.photos-row-vertical {
  display: flex;
  gap: 20px;
  justify-content: center;
  position: relative;
}

.photo {
  object-fit: cover;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 45%;
  max-height: 200px;
  cursor: pointer;
}

.photo-horizontal {
  max-width: 500px;
  aspect-ratio: 16 / 9;
}

.photo-vertical {
  max-width: 300px;
  aspect-ratio: 9 / 16;
}

.description {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--text-color);
  font-weight: 400;
  font-family: var(--font-family);
  letter-spacing: 0.2px;
  opacity: 0.9;
  text-align: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  min-width: 250px;
}

.link {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--text-color);
  text-decoration: underline;
}

.qr-code {
  width: 120px;
  height: 120px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .project-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .photos-container {
    gap: 10px;
    align-items: center;
  }

  .photos-row {
    flex-direction: column;
    gap: 10px;
  }

  .photo {
    height: auto;
    width: 100%;
  }

  .text-container {
    align-items: center;
    text-align: center;
  }
}

.custom-lightbox-wrapper {
  --yarl__container_padding: 40px;
  --yarl__icon_button_background: rgba(0, 0, 0, 0.6);
  --yarl__icon_button_color: white;
  --yarl__icon_button_size: 40px;
}